[submodule "go-dependency-analysis"]
	path = go-dependency-analysis
	url = https://github.com/BizShuk/go-dependency-analysis.git
	branch = master
[submodule "sandbox"]
	path = sandbox
	url = https://github.com/BizShuk/sandbox.git
	branch = master
[submodule "voice"]
	path = voice
	url = https://github.com/BizShuk/voice.git
	branch = master
[submodule "vscoed-plugin"]
	path = vscoed-plugin
	url = https://github.com/BizShuk/vscoed-plugin.git
	branch = master
[submodule "pm2"]
	path = pm2
	url = https://github.com/bizshuk/pm2
	branch = master
[submodule "port"]
	path = port
	url = https://github.com/bizshuk/port
	branch = master
[submodule "dux"]
	path = dux
	url = https://github.com/bizshuk/dux
	branch = master
[submodule "video-utils"]
	path = video-utils
	url = https://github.com/bizshuk/video-utils
	branch = master
[submodule "autop"]
	path = autop
	url = https://github.com/bizshuk/autop.git
	branch = master
[submodule "mdserver"]
	path = mdserver
	url = https://github.com/BizShuk/mdserver.git
	branch = master
[submodule "skills"]
	path = skills
	url = https://github.com/bizshuk/skills.git
	branch = master
[submodule "proxy"]
	path = proxy
	url = https://github.com/BizShuk/proxy.git
	branch = master
[submodule "auth"]
	path = auth
	url = https://github.com/BizShuk/auth.git
	branch = master
[submodule "sessiond"]
	path = sessiond
	url = https://github.com/BizShuk/sessiond.git
	branch = master
	
[submodule "macnotesapp"]
	path = macnotesapp
	url = https://github.com/BizShuk/macnotesapp.git
	branch = main
[submodule "macemailapp"]
	path = macemailapp
	url = https://github.com/BizShuk/macemailapp.git
	branch = master
